@import "../../styles/variables.scss";

.btnWelcome {
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
  color: $primary;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 8px;
  transition: background 0.2s ease-in-out;
  outline: 0;
  display: inline-block;
  border: 0;
  margin: 0 0 0 -10px;
  line-height: 24px;

  kbd {
    color: $dark;
    background: $primary;
    padding: 4px 5px;
    border-radius: 4px;
    transition: background 0.2s ease-in-out;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 2;
  }

  &:hover {
    color: $secondary;

    kbd {
      background: $secondary;
    }
  }
}
