@import "../../styles/utils.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;

  @extend .container;

  &.center {
    height: -webkit-fill-available;
    min-height: -webkit-fill-available;
    justify-content: center;
    padding-top: unset;
    padding-bottom: unset;
  }
}
