@import "../../styles/variables.scss";
@import "../../styles/utils.scss";

.header {
  width: 100%;
  position: fixed;
  background-color: rgba($black, 0.8);
  backdrop-filter: blur(16px);
  z-index: 99;
  top: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;

  @extend .container;
}

.logo {
  color: $primary;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  background-image: none;

  span {
    margin-left: 0.6rem;
    font-size: 18px;
    line-height: 24px;

    @media (max-width: 640px) {
      display: none;
    }
  }

  &:hover {
    opacity: 1;
    background-image: none;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border: 0;
  max-width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 1;

  img {
    border-radius: 0 !important;
    padding: 0.2em;
  }

  &:hover {
    opacity: 0.8;
  }
}
